<p>certificado-form works!</p>
<div class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold custom-title">Certificados gerados</h1>
    <p class="mb-4 custom-subtitle">Visualize todos os certificados gerados</p>
  </div>
  <div class="custom-card w-100">
    <h2 class="card-title">Novo certificado</h2>
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" placeholder="Nome do aluno" />
    </div>
    <div class="mb-3 d-flex align-items-end">
      <div class="flex-grow-1 me-2">
        <label class="form-label">Atividade</label>
        <input
          type="text"
          class="form-control"
          placeholder="Atividade exercida"
        />
      </div>
      <app-secondary-button></app-secondary-button>
    </div>
    <div class="atividade-group">
      <label class="form-label">Lista de atividades</label>
      <div class="custom-card w-100"></div>
    </div>
    <app-primary-button></app-primary-button>
  </div>
</div>