<div class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold mb-2 custom-title">Certificados gerados</h1>
    <p class="mb-4 custom-subtitle">Visualize todos os certificados gerados</p>
  </div>

  <!-- <div class="custom-card w-100">
    <i class="ph ph-certificate"></i>
    <div class="custom-warning-titles">
      <h3 class="card-title">Nenhum certificado gerado</h3>
      <p class="card-subtitle">Gere certificados para consultar o histórico</p>
    </div>
    <app-secondary-button />
  </div> -->

  <div class="list-certificates w-100">
    <app-item-certificado></app-item-certificado>
    <app-item-certificado></app-item-certificado>
    <app-item-certificado></app-item-certificado>
    <app-item-certificado></app-item-certificado>
    <app-item-certificado></app-item-certificado>
  </div>
</div>