<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-logo">
      <img src="navbar/logo.svg" alt="logo" />
    </a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item d-flex align-items-center">
          <i class="ph ph-medal active"></i>
          <a class="nav-link active">Lista de certificados</a>
        </li>
        <li class="nav-item d-flex align-items-center ms-3">
          <i class="ph ph-circles-three-plus"></i>
          <a class="nav-link">Gerar certificado</a>
        </li>
      </ul>
    </div>
  </div>
</nav>