<div class="d-flex flex-column align-items-center">
  <div
    class="d-flex justify-content-between align-items-center menu-certificado w-100"
  >
    <div class="d-flex align-items-center btn-voltar">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </div>
    <app-secondary-button></app-secondary-button>
  </div>
  <div class="certificado d-flex justify-content-center align-items-center">
    <img
      class="icone-medalha"
      src="certificate/certificate_ribbon.png"
      alt="ícone de medalha"
    />
    <div class="conteudo-certificado">
      <img
        class="img-assinatura"
        src="certificate/certificate_signature.svg"
        alt="assinatura"
      />
      <div class="info-certificado d-flex flex-column align-items-center">
        <div class="titulo-subtitulo-certificado">
          <h1>CERTIFICADO DE CONCLUSÃO</h1>
          <p>Este certificado comprova que</p>
        </div>
        <p class="nome-aluno">Ana Silva Lopes</p>
        <div class="lista-atividade-group">
          <p class="lista-atividade-titulo">
            Concluiu com sucesso as seguintes atividades:
          </p>
          <p class="lista-atividade">
            Introdução ao Angular, Configuração com Angular CLI, Criação de
            componentes reutilizáveis, Manipulação de dados, Implementação de
            data binding, Criação de rotas com Angular Router, Consumo de APIs
            REST
          </p>
        </div>
      </div>
      <p class="data-emissao">Emitido em 25/04/2025</p>
    </div>
  </div>
</div>