<div class="d-flex flex-column align-items-center">
  <div
    class="d-flex justify-content-between align-items-center menu-certificado w-100"
  >
    <div class="d-flex align-items-center btn-voltar">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </div>
    <app-secondary-button></app-secondary-button>
  </div>
  <div class="certificado d-flex justify-content-center align-items-center">
    <img
      class="icone-medalha"
      src="certificate/certificate_ribbon.png"
      alt="ícone de medalha"
    />
    <div class="conteudo-certificado"></div>
  </div>
</div>