body {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
}

.custom-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 4px;
}

.custom-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #64748b;
}

.content-titles {
  height: 60px;
  gap: 4px;
  margin-bottom: 32px;
}